*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

#wrapper{
    background-color: lightgray;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 5fr 1fr;
    grid-template-areas:
    ". header ."
    ". quiz ."
    ". footer ."
;
}

header{
    grid-area: header;
}

main{
    grid-area: quiz;
}

#question-number{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(10, 1fr);
}

footer{
    grid-area: footer;
}